# ignore data files
*.csv

# Python & environment
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual envs
venv/
env/
.env

# OS
.DS_Store
Thumbs.db

/ElectricityData/
/OneDrive_1_2025-11-23.zip
